In [1]:
import numpy as np
import pandas as pd

In [2]:
data_gebieden = pd.read_csv('stadsdelen_schoon.csv', sep='\t')
data_gebieden

       gb/std  bevolking  woningen gemiddelde woningbezetting
0     Centrum      86422     54026                       1,60
1        West     143842     78465                       1.83
2  Nieuw-West     151677     64838                       2.34
3        Zuid     144432     80036                       1,80
4        Oost     135767     67430                       2.01
5       Noord      94766     42360                       2.24
6    Zuidoost      87854     40665                       2.16
7   Westpoort        192        38                       5.05
8   Amsterdam     844952    427858                       1.97

In [3]:
data_stroomgas = pd.read_csv('../datasets/LianderTotal_NIEUW.csv', sep='\t', low_memory=False)

In [4]:
data_stroom = data_stroomgas[data_stroomgas['PRODUCTSOORT'] == 'ELK']

In [45]:
data_gas = data_stroomgas[data_stroomgas['PRODUCTSOORT'] == 'GAS']

In [5]:
centrum = data_stroom[data_stroom['WIJKEN'] == 'CENTRUM']
west = data_stroom[data_stroom['WIJKEN'] == 'WEST']
nieuw_west = data_stroom[data_stroom['WIJKEN'] == 'NIEUW-WEST']
zuid = data_stroom[data_stroom['WIJKEN'] == 'ZUID']
oost = data_stroom[data_stroom['WIJKEN'] == 'OOST']
noord = data_stroom[data_stroom['WIJKEN'] == 'NOORD']
zuidoost = data_stroom[data_stroom['WIJKEN'] == 'ZUIDOOST']
westpoort = data_stroom[data_stroom['WIJKEN'] == 'WESTPOORT']

In [6]:
mean = round(float(westpoort['SJV'].mean()),2)
print(mean)

3870.44

In [7]:
gemAdam = round(float(data_stroom['SJV'].mean()),2)
print(gemAdam)

2571.86

In [8]:
gebieden = pd.DataFrame()

gebieden['gebied'] = data_gebieden['gb/std']
gebieden['bevolking'] = data_gebieden['bevolking']
gebieden['gem. stroomverbruik'] = [2877.37, 2315.59, 2555.81, 2631.16, 2522.63, 
                                   2590.14, 2663.9, 3870.44, 2571.86 ]
gebieden['verschil'] = round(gebieden['gem. stroomverbruik'] - gemAdam,2)

gebieden

       gebied  bevolking  gem. stroomverbruik  verschil
0     Centrum      86422              2877.37    305.51
1        West     143842              2315.59   -256.27
2  Nieuw-West     151677              2555.81    -16.05
3        Zuid     144432              2631.16     59.30
4        Oost     135767              2522.63    -49.23
5       Noord      94766              2590.14     18.28
6    Zuidoost      87854              2663.90     92.04
7   Westpoort        192              3870.44   1298.58
8   Amsterdam     844952              2571.86      0.00

In [42]:
gebieden2 = gebieden.ix[~(gebieden['gebied'] == 'Amsterdam')]
gebieden2

       gebied  bevolking  gem. stroomverbruik  verschil
0     Centrum      86422              2877.37    305.51
1        West     143842              2315.59   -256.27
2  Nieuw-West     151677              2555.81    -16.05
3        Zuid     144432              2631.16     59.30
4        Oost     135767              2522.63    -49.23
5       Noord      94766              2590.14     18.28
6    Zuidoost      87854              2663.90     92.04
7   Westpoort        192              3870.44   1298.58

In [10]:
from datetime import date
from random import randint

from bokeh.models import ColumnDataSource
from bokeh.models.widgets import DataTable, DateFormatter, TableColumn
from bokeh.io import output_file, show, save

output_file("table.html")

data = dict(gebieden2[['gebied', 'gem. stroomverbruik', 'verschil']])
source = ColumnDataSource(data)

columns = [
        TableColumn(field="gebied", title="gebied"),
        TableColumn(field="gem. stroomverbruik", title="gem. stroomverbruik"),
        TableColumn(field ="verschil", title='verschil')
    ]

data_table = DataTable(source=source, columns=columns, width=400, height=280)

save(data_table)

'C:\\Nina\\KI\\DataVis\\kunstmatigestroom\\Nina\\table.html'

In [33]:
data_stroom11 = data_stroom[data_stroom['jaar'] == 2017]

In [23]:
centrum11 = data_stroom11[data_stroom11['WIJKEN'] == 'CENTRUM']
west11 = data_stroom11[data_stroom11['WIJKEN'] == 'WEST']
nieuw_west11 = data_stroom11[data_stroom11['WIJKEN'] == 'NIEUW-WEST']
zuid11 = data_stroom11[data_stroom11['WIJKEN'] == 'ZUID']
oost11 = data_stroom11[data_stroom11['WIJKEN'] == 'OOST']
noord11 = data_stroom11[data_stroom11['WIJKEN'] == 'NOORD']
zuidoost11 = data_stroom11[data_stroom11['WIJKEN'] == 'ZUIDOOST']
westpoort11 = data_stroom11[data_stroom11['WIJKEN'] == 'WESTPOORT']

In [41]:
mean11 = round(float(zuidoost11['SJV'].mean()),2)
print(mean11)

2691.72

In [83]:
data_gasPJ = data_gas[data_gas['jaar'] == 2014]

In [84]:
centrumGas = data_gasPJ[data_gasPJ['WIJKEN'] == 'CENTRUM']
westGas = data_gasPJ[data_gasPJ['WIJKEN'] == 'WEST']
nieuw_westGas = data_gasPJ[data_gasPJ['WIJKEN'] == 'NIEUW-WEST']
zuidGas = data_gasPJ[data_gasPJ['WIJKEN'] == 'ZUID']
oostGas = data_gasPJ[data_gasPJ['WIJKEN'] == 'OOST']
noordGas = data_gasPJ[data_gasPJ['WIJKEN'] == 'NOORD']
zuidoostGas = data_gasPJ[data_gasPJ['WIJKEN'] == 'ZUIDOOST']
westpoortGas = data_gasPJ[data_gasPJ['WIJKEN'] == 'WESTPOORT']

In [92]:
meanGas = round(float(zuidoostGas['SJV'].mean()),2)
print(meanGas)

nan