In [9]:
import pandas as pd

data_xlsx = pd.read_excel('gebieden_groot.xlsx', sep='\t', index=None)

In [10]:
data_xlsx

,gb/std,oppervlakte in ha,oppervlakte in ha land,bevolking,bevolkingsdichtheid per km2 land,woningen,woningdichtheid per km2 land,gemiddelde woningbezetting
0,A Centrum,804.35,628.60,86422,13748,54026,8595,"1,60"
1,E West,1062.99,943.08,143842,15252,78465,8320,1.83
2,F Nieuw-West,3801.55,3387.35,151677,4478,64838,1914,2.34
3,K Zuid,1727.40,1544.97,144432,9349,80036,5180,"1,80"
4,M Oost,3059.49,1778.27,135767,7635,67430,3792,2.01
5,N Noord,6382.88,4176.03,94766,2269,42360,1014,2.24
6,T Zuidoost,2211.37,2000.56,87854,4391,40665,2033,2.16
7,ZX99 Westpoort,2899.16,2013.45,192,10,38,2,5.05
8,ASD Amsterdam,21949.18,16472.30,844952,5130,427858,2597,1.97

In [11]:
data_xlsx.to_csv('stadsdelen.csv', sep='\t', index=None)

In [12]:
data = pd.read_csv('stadsdelen.csv', sep='\t', index_col=None)

In [13]:
data

,gb/std,oppervlakte in ha,oppervlakte in ha land,bevolking,bevolkingsdichtheid per km2 land,woningen,woningdichtheid per km2 land,gemiddelde woningbezetting
0,A Centrum,804.35,628.60,86422,13748,54026,8595,"1,60"
1,E West,1062.99,943.08,143842,15252,78465,8320,1.83
2,F Nieuw-West,3801.55,3387.35,151677,4478,64838,1914,2.34
3,K Zuid,1727.40,1544.97,144432,9349,80036,5180,"1,80"
4,M Oost,3059.49,1778.27,135767,7635,67430,3792,2.01
5,N Noord,6382.88,4176.03,94766,2269,42360,1014,2.24
6,T Zuidoost,2211.37,2000.56,87854,4391,40665,2033,2.16
7,ZX99 Westpoort,2899.16,2013.45,192,10,38,2,5.05
8,ASD Amsterdam,21949.18,16472.30,844952,5130,427858,2597,1.97

In [14]:
#del data['oppervlakte in ha']
#del data['oppervlakte in ha land']
#del data['bevolkingsdichtheid per km2 land']
#del data['woningdichtheid per km2 land']

data

           gb/std  bevolking  woningen gemiddelde woningbezetting
0       A Centrum      86422     54026                       1,60
1          E West     143842     78465                       1.83
2    F Nieuw-West     151677     64838                       2.34
3          K Zuid     144432     80036                       1,80
4          M Oost     135767     67430                       2.01
5         N Noord      94766     42360                       2.24
6      T Zuidoost      87854     40665                       2.16
7  ZX99 Westpoort        192        38                       5.05
8   ASD Amsterdam     844952    427858                       1.97

In [15]:
data.to_csv('stadsdelen_schoon.csv', sep='\t', index=None)