In [1]:
import numpy as np
import pandas as pd

In [4]:
data_gebieden = pd.read_csv('stadsdelen_schoon.csv', sep='\t')
data_gebieden

           gb/std  bevolking  woningen gemiddelde woningbezetting
0       A Centrum      86422     54026                       1,60
1          E West     143842     78465                       1.83
2    F Nieuw-West     151677     64838                       2.34
3          K Zuid     144432     80036                       1,80
4          M Oost     135767     67430                       2.01
5         N Noord      94766     42360                       2.24
6      T Zuidoost      87854     40665                       2.16
7  ZX99 Westpoort        192        38                       5.05
8   ASD Amsterdam     844952    427858                       1.97

In [19]:
data_stroom = pd.read_csv('../datasets/LianderTotaalBEWERKT.csv', sep='\t', low_memory=False)

In [46]:
centrum = data_stroom.loc[data_stroom['WIJKEN'] == 'CENTRUM']  
west = data_stroom.loc[data_stroom['WIJKEN'] == 'WEST']  
nieuw_west = data_stroom.loc[data_stroom['WIJKEN'] == 'NIEUW-WEST']  
zuid = data_stroom.loc[data_stroom['WIJKEN'] == 'ZUID']  
oost = data_stroom.loc[data_stroom['WIJKEN'] == 'OOST']  
noord = data_stroom.loc[data_stroom['WIJKEN'] == 'NOORD']  
zuidoost = data_stroom.loc[data_stroom['WIJKEN'] == 'ZUIDOOST']  
westpoort = data_stroom.loc[data_stroom['WIJKEN'] == 'WESTPOORT']

In [50]:
stroom = []
total = 0
counter = 0

for value in west['SJV']:
    total = total + value
    counter += 1


print(total)
print(counter)
print('gemiddelde = {}'.format(total / counter))

60903967
35061
gemiddelde = 1737.0858503750605

In [15]:
gebieden = pd.DataFrame()

gebieden['gebied'] = data_gebieden['gb/std']
gebieden['bevolking'] = data_gebieden['bevolking']
gebieden

           gebied  bevolking
0       A Centrum      86422
1          E West     143842
2    F Nieuw-West     151677
3          K Zuid     144432
4          M Oost     135767
5         N Noord      94766
6      T Zuidoost      87854
7  ZX99 Westpoort        192
8   ASD Amsterdam     844952