In [25]:
import numpy as np
import pandas as pd
import math

from datetime import date
from random import randint

from bokeh.io import output_file, show, save
from bokeh.layouts import widgetbox
from bokeh.models import ColumnDataSource
from bokeh.models.widgets import DataTable, DateFormatter, TableColumn

In [3]:
data_gebieden = pd.read_csv('stadsdelen_schoon.csv', sep='\t')
data_gebieden

       gb/std  bevolking  woningen gemiddelde woningbezetting
0     Centrum      86422     54026                       1,60
1        West     143842     78465                       1.83
2  Nieuw-West     151677     64838                       2.34
3        Zuid     144432     80036                       1,80
4        Oost     135767     67430                       2.01
5       Noord      94766     42360                       2.24
6    Zuidoost      87854     40665                       2.16
7   Westpoort        192        38                       5.05
8   Amsterdam     844952    427858                       1.97

In [4]:
data_stroomgas = pd.read_csv('../datasets/LianderTotaalBEWERKT.csv', sep='\t', low_memory=False)

In [7]:
data_stroom = data_stroomgas[data_stroomgas['PRODUCTSOORT'] == 'ELK']

In [10]:
centrum = data_stroom[data_stroom['WIJKEN'] == 'CENTRUM']  
west = data_stroom[data_stroom['WIJKEN'] == 'WEST']  
nieuw_west = data_stroom[data_stroom['WIJKEN'] == 'NIEUW-WEST']  
zuid = data_stroom[data_stroom['WIJKEN'] == 'ZUID']  
oost = data_stroom[data_stroom['WIJKEN'] == 'OOST']  
noord = data_stroom[data_stroom['WIJKEN'] == 'NOORD']  
zuidoost = data_stroom[data_stroom['WIJKEN'] == 'ZUIDOOST']  
westpoort = data_stroom[data_stroom['WIJKEN'] == 'WESTPOORT']

In [18]:
round(float(westpoort['SJV'].mean()),3)

3872.061

In [20]:
round(float(data_stroom['SJV'].mean()),3)

2565.699

In [21]:
gebieden = pd.DataFrame()

gebieden['gebied'] = data_gebieden['gb/std']
gebieden['bevolking'] = data_gebieden['bevolking']
gebieden['gem. verbruik'] = [2869.104, 2311.251, 2550.94, 2627.577, 2514.696,
                                   2583.748, 2635.205, 3872.061, 2565.699]

gebieden

       gebied  bevolking  gem. verbruik
0     Centrum      86422       2869.104
1        West     143842       2311.251
2  Nieuw-West     151677       2550.940
3        Zuid     144432       2627.577
4        Oost     135767       2514.696
5       Noord      94766       2583.748
6    Zuidoost      87854       2635.205
7   Westpoort        192       3872.061
8   Amsterdam     844952       2565.699

In [29]:
output_file("data_table.html")

data = dict(
        dates= [data_gebieden['gb/std']],
        downloads=[randint(0, 100) for i in range(10)],
    )
source = ColumnDataSource(data)

columns = [
        TableColumn(field="dates", title="Date", formatter=DateFormatter()),
        TableColumn(field="downloads", title="Downloads"),
    ]
data_table = DataTable(source=source, columns=columns, width=400, height=280)

save(widgetbox(data_table))

c:\users\ninav\appdata\local\programs\python\python36-32\lib\site-packages\bokeh\models\sources.py:110: BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('dates', 1), ('downloads', 10)
  "Current lengths: %s" % ", ".join(sorted(str((k, len(v))) for k, v in data.items())), BokehUserWarning))

'C:\\Nina\\KI\\DataVis\\kunstmatigestroom\\Nina\\data_table.html'