In [2]:
import numpy as np
import pandas as pd
import math

from datetime import date
from random import randint

from bokeh.io import output_file, show, save
from bokeh.layouts import widgetbox
from bokeh.models import ColumnDataSource
from bokeh.models.widgets import DataTable, DateFormatter, TableColumn

In [3]:
data_gebieden = pd.read_csv('stadsdelen_schoon.csv', sep='\t')
data_gebieden

       gb/std  bevolking  woningen gemiddelde woningbezetting
0     Centrum      86422     54026                       1,60
1        West     143842     78465                       1.83
2  Nieuw-West     151677     64838                       2.34
3        Zuid     144432     80036                       1,80
4        Oost     135767     67430                       2.01
5       Noord      94766     42360                       2.24
6    Zuidoost      87854     40665                       2.16
7   Westpoort        192        38                       5.05
8   Amsterdam     844952    427858                       1.97

In [18]:
data_stroomgas = pd.read_csv('../datasets/LianderTotaalBEWERKT.csv', sep='\t', low_memory=False)

In [19]:
data_stroom = data_stroomgas[data_stroomgas['PRODUCTSOORT'] == 'ELK']

In [23]:
centrum = data_stroom[data_stroom['WIJKEN'] == 'CENTRUM']  
west = data_stroom[data_stroom['WIJKEN'] == 'WEST']  
nieuw_west = data_stroom[data_stroom['WIJKEN'] == 'NIEUW-WEST']  
zuid = data_stroom[data_stroom['WIJKEN'] == 'ZUID']  
oost = data_stroom[data_stroom['WIJKEN'] == 'OOST']  
noord = data_stroom[data_stroom['WIJKEN'] == 'NOORD']  
zuidoost = data_stroom[data_stroom['WIJKEN'] == 'ZUIDOOST']  
westpoort = data_stroom[data_stroom['WIJKEN'] == 'WESTPOORT'] 

noord_ = data_stroomgas[data_stroomgas['WIJKEN'] == 'NOORD'] 
west_poort = data_stroomgas[data_stroomgas['WIJKEN'] == 'WESTPOORT'] 
noord_.describe()

                SJV          jaar
count  27267.000000  27267.000000
mean    2021.036858   2014.013423
std      959.073452      1.999056
min      459.000000   2011.000000
25%     1239.000000   2012.000000
50%     1828.000000   2014.000000
75%     2571.000000   2016.000000
max     5300.000000   2017.000000

In [7]:
mean = round(float(westpoort['SJV'].mean()),2)
print(mean)

3872.06

In [8]:
gemAdam = round(float(data_stroom['SJV'].mean()),2)
print(gemAdam)

2565.7

In [9]:
verschil = mean - gemAdam

print(mean)

3872.06

In [10]:
gebieden = pd.DataFrame()

In [11]:
gebieden['gebied'] = data_gebieden['gb/std']
gebieden['bevolking'] = data_gebieden['bevolking']
gebieden['gem. verbruik'] = [2869.104, 2311.251, 2550.94, 2627.577, 2514.696,
                                   2583.748, 2635.205, 3872.061, 2565.699]

gebieden['verschil'] = round(gebieden['gem. verbruik'] - gemAdam,2)

gebieden

       gebied  bevolking  gem. verbruik  verschil
0     Centrum      86422       2869.104    303.40
1        West     143842       2311.251   -254.45
2  Nieuw-West     151677       2550.940    -14.76
3        Zuid     144432       2627.577     61.88
4        Oost     135767       2514.696    -51.00
5       Noord      94766       2583.748     18.05
6    Zuidoost      87854       2635.205     69.51
7   Westpoort        192       3872.061   1306.36
8   Amsterdam     844952       2565.699     -0.00

In [12]:
gebieden2 = gebieden.ix[~(gebieden['gebied'] == 'Amsterdam')]
gebieden2

c:\users\ninav\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

       gebied  bevolking  gem. verbruik  verschil
0     Centrum      86422       2869.104    303.40
1        West     143842       2311.251   -254.45
2  Nieuw-West     151677       2550.940    -14.76
3        Zuid     144432       2627.577     61.88
4        Oost     135767       2514.696    -51.00
5       Noord      94766       2583.748     18.05
6    Zuidoost      87854       2635.205     69.51
7   Westpoort        192       3872.061   1306.36

In [13]:
output_file("data_table.html")

data = dict(gebieden2[['gebied', 'gem. verbruik', 'verschil']])
source = ColumnDataSource(data)

columns = [
        TableColumn(field="gebied", title="gebied"),
        TableColumn(field="gem. verbruik", title="gem. verbruik"),
        TableColumn(field="verschil", title="verschil")
    ]
                    
data_table = DataTable(source=source, columns=columns, width=400, height=280)

save(widgetbox(data_table))

'C:\\Nina\\KI\\DataVis\\kunstmatigestroom\\Nina\\data_table.html'