In [18]:
from bokeh.plotting import figure
from bokeh.io import output_file, show
import pandas as pd

In [19]:
data = pd.read_csv('../datasets/LianderTotaalBEWERKT.csv', sep='\t', low_memory=False)

In [20]:
gas = data[data['PRODUCTSOORT'] == 'GAS']
elk = data[data['PRODUCTSOORT'] == 'ELK']

In [16]:
elk_list = list(elk['SJV'])
gas_list = list(gas['SJV'])
#new_lev_list = []
#for item in lev_list:
#    new_lev_list.append(float(item.replace(',','.')))

output_file("test.html")
f = figure(plot_width=600, plot_height=600)
f.circle(gas_list, elk_list)
show(f)

c:\users\mathias\appdata\local\programs\python\python36-32\lib\site-packages\bokeh\models\sources.py:110: BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('x', 92567), ('y', 94263)
  "Current lengths: %s" % ", ".join(sorted(str((k, len(v))) for k, v in data.items())), BokehUserWarning))

In [87]:
elk[(elk['WIJKEN'] == 'DRIEMOND') & (elk['jaar'] == 2015)]

Empty DataFrame
Columns: [POSTCODE_VAN, POSTCODE_TOT, PRODUCTSOORT, %Leveringsrichting, SJV, jaar, WIJKEN]
Index: []

In [70]:
elk[(elk['WIJKEN'] == 'ZUIDOOST') & (elk['jaar'] == 2011)]['SJV'].mean()

nan

In [31]:
# Gemiddelde SJV per wijk per jaar (postcode gebied)

wijken = ['CENTRUM', 'NOORD', 'WESTPOORT', 'WEST', 'NIEUW-WEST', 'ZUID', 'OOST', 'ZUIDOOST', 'DRIEMOND']
years = ['2011', '2012', '2013', '2014', '2015', '2016', '2017']

list_2011 = []
for wijk in wijken:
    list_2011.append(gas[(gas['WIJKEN'] == wijk) & (gas['jaar'] == 2011)]['SJV'].mean())
list_2012 = []
for wijk in wijken:
    list_2012.append(gas[(gas['WIJKEN'] == wijk) & (gas['jaar'] == 2012)]['SJV'].mean())
list_2013 = []
for wijk in wijken:
    list_2013.append(gas[(gas['WIJKEN'] == wijk) & (gas['jaar'] == 2013)]['SJV'].mean())
list_2014 = []
for wijk in wijken:
    list_2014.append(gas[(gas['WIJKEN'] == wijk) & (gas['jaar'] == 2014)]['SJV'].mean())
list_2015 = []
for wijk in wijken:
    list_2015.append(gas[(gas['WIJKEN'] == wijk) & (gas['jaar'] == 2015)]['SJV'].mean())
list_2016 = []
for wijk in wijken:
    list_2016.append(gas[(gas['WIJKEN'] == wijk) & (gas['jaar'] == 2016)]['SJV'].mean())
list_2017 = []
for wijk in wijken:
    list_2017.append(gas[(gas['WIJKEN'] == wijk) & (gas['jaar'] == 2017)]['SJV'].mean())

In [32]:
list_2011

[1770.2400581959264,
 1492.5138361367335,
 2790.8888888888887,
 1245.0899280575541,
 1375.8397017707362,
 1612.7587399154822,
 1342.7325373134329,
 nan,
 nan]

In [34]:
# Gemiddelde SJV per wijk per jaar (per persoon)

wijken = ['CENTRUM', 'NOORD', 'WESTPOORT', 'WEST', 'NIEUW-WEST', 'ZUID', 'OOST', 'ZUIDOOST', 'DRIEMOND']
years = ['2011', '2012', '2013', '2014', '2015', '2016', '2017']
bevolking = { 'CENTRUM': 86422,
             'NOORD': 94766,
             'WESTPOORT': 192,
             'WEST': 143842,
             'NIEUW-WEST': 151677,
             'ZUID': 144432,
             'OOST': 135767,
             'ZUIDOOST': 87854,
             'DRIEMOND': 1500}


list_2011 = []
for wijk in wijken:
    row = gas[(gas['WIJKEN'] == wijk) & (gas['jaar'] == 2011)]['SJV']
    list_2011.append(row.values.sum()/bevolking[wijk])
list_2012 = []
for wijk in wijken:
    row = gas[(gas['WIJKEN'] == wijk) & (gas['jaar'] == 2012)]['SJV']
    list_2012.append(row.values.sum()/bevolking[wijk])
list_2013 = []
for wijk in wijken:
    row = gas[(gas['WIJKEN'] == wijk) & (gas['jaar'] == 2013)]['SJV']
    list_2013.append(row.values.sum()/bevolking[wijk])
list_2014 = []
for wijk in wijken:
    row = gas[(gas['WIJKEN'] == wijk) & (gas['jaar'] == 2014)]['SJV']
    list_2014.append(row.values.sum()/bevolking[wijk])
list_2015 = []
for wijk in wijken:
    row = gas[(gas['WIJKEN'] == wijk) & (gas['jaar'] == 2015)]['SJV']
    list_2015.append(row.values.sum()/bevolking[wijk])
list_2016 = []
for wijk in wijken:
    row = gas[(gas['WIJKEN'] == wijk) & (gas['jaar'] == 2016)]['SJV']
    list_2016.append(row.values.sum()/bevolking[wijk])
list_2017 = []
for wijk in wijken:
    row = gas[(gas['WIJKEN'] == wijk) & (gas['jaar'] == 2017)]['SJV']
    list_2017.append(row.values.sum()/bevolking[wijk])

In [35]:
from bokeh.io import show, output_file
from bokeh.models import ColumnDataSource, FactorRange
from bokeh.plotting import figure

output_file("bars.html")

data = {'wijken' : wijken,
        '2011'   : list_2011,
        '2012'   : list_2012,
        '2013'   : list_2013,
        '2014'   : list_2014,
        '2015'   : list_2015,
        '2016'   : list_2016,
        '2017'   : list_2017}

# this creates [ ("Apples", "2015"), ("Apples", "2016"), ("Apples", "2017"), ("Pears", "2015), ... ]
x = [ (wijk, year) for wijk in wijken for year in years ]
counts = sum(zip(data['2011'], data['2012'], data['2013'], data['2014'], data['2015'], data['2016'], data['2017']), ()) # like an hstack

source = ColumnDataSource(data=dict(x=x, counts=counts))

p = figure(x_range=FactorRange(*x), plot_height=500, plot_width = 1200, title="Gemiddeld gasverbruik per postcodegebied stadsdeel per jaar")

p.vbar(x='x', top='counts', width=0.9, source=source)

p.y_range.start = 0
p.x_range.range_padding = 0.1
p.xaxis.major_label_orientation = 1
p.xgrid.grid_line_color = None

show(p)

In [34]:
from bokeh.io import show, output_file
from bokeh.models import ColumnDataSource
from bokeh.plotting import figure
from bokeh.sampledata.commits import data
from bokeh.transform import jitter

output_file("bars.html")

DAYS = ['Sun', 'Sat', 'Fri', 'Thu', 'Wed', 'Tue', 'Mon']

source = ColumnDataSource(data)

p = figure(plot_width=800, plot_height=300, y_range=DAYS, x_axis_type='datetime',
           title="Commits by Time of Day (US/Central) 2012—2016")

p.circle(x='time', y=jitter('day', width=0.6, range=p.y_range),  source=source, alpha=0.3)

p.xaxis[0].formatter.days = ['%Hh']
p.x_range.range_padding = 0
p.ygrid.grid_line_color = None

show(p)

In [26]:
lev_list = list(elk[elk['WIJKEN'] == 'CENTRUM']['%Leveringsrichting'])
new_lev_list = []
for item in lev_list:
    new_lev_list.append(float(item.replace(',','.')))

In [28]:
len(lev_list)

12353

In [37]:
data

                           day      time
datetime
2017-04-22 15:11:58-05:00  Sat  15:11:58
2017-04-21 14:20:57-05:00  Fri  14:20:57
2017-04-20 14:35:08-05:00  Thu  14:35:08
2017-04-20 10:34:29-05:00  Thu  10:34:29
2017-04-20 09:17:23-05:00  Thu  09:17:23
2017-04-19 22:35:37-05:00  Wed  22:35:37
2017-04-19 22:26:14-05:00  Wed  22:26:14
2017-04-19 22:21:23-05:00  Wed  22:21:23
2017-04-19 20:44:14-05:00  Wed  20:44:14
2017-04-19 20:15:43-05:00  Wed  20:15:43
2017-04-19 20:02:36-05:00  Wed  20:02:36
2017-04-17 21:57:07-05:00  Mon  21:57:07
2017-04-16 20:22:36-05:00  Sun  20:22:36
2017-04-16 16:44:03-05:00  Sun  16:44:03
2017-04-16 16:34:34-05:00  Sun  16:34:34
2017-04-16 15:11:00-05:00  Sun  15:11:00
2017-04-05 13:06:25-05:00  Wed  13:06:25
2017-04-05 12:51:10-05:00  Wed  12:51:10
2017-04-05 11:46:51-05:00  Wed  11:46:51
2017-03-25 11:32:41-05:00  Sat  11:32:41
2017-03-24 21:08:23-05:00  Fri  21:08:23
2017-03-24 20:53:59-05:00  Fri  20:53:59
2017-03-24 20:52:54-05:00  Fri  20:52:54
2017-03-24 19:22:50-05:00  Fri  19:22:50
2017-03-24 19:12:34-05:00  Fri  19:12:34
2017-03-24 19:05:07-05:00  Fri  19:05:07
2017-03-24 19:01:11-05:00  Fri  19:01:11
2017-03-24 19:00:01-05:00  Fri  19:00:01
2017-03-24 14:26:18-05:00  Fri  14:26:18
2017-03-23 22:26:54-05:00  Thu  22:26:54
...                        ...       ...
2013-02-08 13:31:00-06:00  Fri  13:31:00
2013-02-08 13:30:07-06:00  Fri  13:30:07
2013-02-08 13:23:37-06:00  Fri  13:23:37
2013-02-08 13:17:13-06:00  Fri  13:17:13
2013-02-08 12:37:35-06:00  Fri  12:37:35
2013-02-08 12:27:05-06:00  Fri  12:27:05
2013-02-08 11:17:17-06:00  Fri  11:17:17
2013-02-07 15:11:52-06:00  Thu  15:11:52
2013-02-07 09:16:44-06:00  Thu  09:16:44
2013-02-07 08:58:00-06:00  Thu  08:58:00
2013-02-05 13:09:19-06:00  Tue  13:09:19
2013-02-05 13:09:00-06:00  Tue  13:09:00
2013-02-05 12:37:32-06:00  Tue  12:37:32
2013-02-05 12:34:36-06:00  Tue  12:34:36
2013-02-05 12:33:29-06:00  Tue  12:33:29
2013-02-05 12:30:45-06:00  Tue  12:30:45
2013-02-05 12:29:50-06:00  Tue  12:29:50
2013-02-05 12:27:28-06:00  Tue  12:27:28
2013-02-05 12:26:33-06:00  Tue  12:26:33
2013-02-05 12:25:30-06:00  Tue  12:25:30
2013-02-01 13:09:39-06:00  Fri  13:09:39
2013-02-01 12:52:38-06:00  Fri  12:52:38
2013-01-31 12:22:12-06:00  Thu  12:22:12
2013-01-31 10:53:24-06:00  Thu  10:53:24
2013-01-24 18:18:28-06:00  Thu  18:18:28
2013-01-24 17:08:57-06:00  Thu  17:08:57
2013-01-21 16:22:39-06:00  Mon  16:22:39
2013-01-03 16:28:49-06:00  Thu  16:28:49
2013-01-02 17:46:43-06:00  Wed  17:46:43
2012-12-29 11:57:50-06:00  Sat  11:57:50

[4916 rows x 2 columns]