In [2]:
from bokeh.plotting import figure
from bokeh.io import output_file, show, save
import pandas as pd
import numpy as np
import math

In [3]:
df = pd.read_csv('LianderTotaalBEWERKT.csv', sep='\t', low_memory=False)

In [4]:
#gem_groen_stroom_per_jaar_2011 = {'2011' : groen_stroom_2011['%Leveringsrichting'].mean()}

#groen_stroom_2011['%Leveringsrichting'] =float(groen_stroom_99['%Leveringsrichting'].replace(',','.'))
richting = list(df['%Leveringsrichting'])

new_list = [] 
for data in richting:
    olifant = data.replace(',','.')
    new_list.append(float(olifant))
print(len(new_list))
print(type(new_list[34]))

186830
<class 'float'>

In [5]:
kleiner = 0
for data in new_list:
    if data < 100:
        kleiner += 1
print(kleiner)

5773

In [6]:
#2011
kleiner = 0
for i in new_list[0:25945]:
    if i < 100:
        kleiner += 1
print(kleiner)

193

In [7]:
#2012
kleiner = 0
for i in new_list[25946:51995]:
    if i < 100:
        kleiner += 1
print(kleiner)

303

In [12]:
#2013
kleiner = 0
for i in new_list[51996:78142]:
    if i < 100:
        kleiner += 1
print(kleiner)

492

In [8]:
#2014
kleiner = 0
for i in new_list[78143:104275]:
    if i < 100:
        kleiner += 1
print(kleiner)

717

In [9]:
#2015
kleiner = 0
for i in new_list[104276:130492]:
    if i < 100:
        kleiner += 1
print(kleiner)

966

In [10]:
#2016
kleiner = 0
for i in new_list[130493:158661]:
    if i < 100:
        kleiner += 1
print(kleiner)

1551

In [11]:
#2017
kleiner = 0
for i in new_list[158662:186830]:
    if i < 100:
        kleiner += 1
print(kleiner)

1551

In [18]:
levering = pd.DataFrame()
levering['jaar'] = [2011, 2012, 2013, 2014, 2015, 2016, 2017]
levering['aantal onder 100'] = [193, 303, 492, 717, 966, 1551, 1551]
levering

   jaar  aantal onder 100
0  2011               193
1  2012               303
2  2013               492
3  2014               717
4  2015               966
5  2016              1551
6  2017              1551